/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_8674aaef5aca62d4474f6f4ece2f90df.eot");
  src: url("./fontcustom_8674aaef5aca62d4474f6f4ece2f90df.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_8674aaef5aca62d4474f6f4ece2f90df.woff") format("woff"),
       url("./fontcustom_8674aaef5aca62d4474f6f4ece2f90df.ttf") format("truetype"),
       url("./fontcustom_8674aaef5aca62d4474f6f4ece2f90df.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_8674aaef5aca62d4474f6f4ece2f90df.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.mi-angle-left:before,
.mi-angle-right:before,
.mi-angle-up:before,
.mi-cabinet:before,
.mi-caret-down:before,
.mi-caret-left:before,
.mi-caret-right:before,
.mi-caret-up:before,
.mi-chair:before,
.mi-check-box:before,
.mi-cross-box:before,
.mi-edit:before,
.mi-eye:before,
.mi-ganti-uang:before,
.mi-heart:before,
.mi-langsung:before,
.mi-map-marker:before,
.mi-minus-box:before,
.mi-nihil:before,
.mi-paper:before,
.mi-plus:before,
.mi-tambah-uang:before,
.mi-trash:before,
.mi-tv:before,
.mi-uang-persediaan:before,
.mi-warning:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.mi-angle-left:before { content: "\f103"; }
.mi-angle-right:before { content: "\f104"; }
.mi-angle-up:before { content: "\f10e"; }
.mi-cabinet:before { content: "\f122"; }
.mi-caret-down:before { content: "\f10f"; }
.mi-caret-left:before { content: "\f110"; }
.mi-caret-right:before { content: "\f111"; }
.mi-caret-up:before { content: "\f112"; }
.mi-chair:before { content: "\f123"; }
.mi-check-box:before { content: "\f113"; }
.mi-cross-box:before { content: "\f115"; }
.mi-edit:before { content: "\f116"; }
.mi-eye:before { content: "\f117"; }
.mi-ganti-uang:before { content: "\f118"; }
.mi-heart:before { content: "\f119"; }
.mi-langsung:before { content: "\f11a"; }
.mi-map-marker:before { content: "\f106"; }
.mi-minus-box:before { content: "\f11b"; }
.mi-nihil:before { content: "\f11c"; }
.mi-paper:before { content: "\f11d"; }
.mi-plus:before { content: "\f11e"; }
.mi-tambah-uang:before { content: "\f11f"; }
.mi-trash:before { content: "\f120"; }
.mi-tv:before { content: "\f124"; }
.mi-uang-persediaan:before { content: "\f121"; }
.mi-warning:before { content: "\f107"; }
